<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Sansita+One' rel='stylesheet' type='text/css'>
</head>
<body>


	<div id="page">
	<div id="content">
		<div id="header">
		<div id="nav"><a href="#"><p id="current">Home</p></a> <p><a href="#">About</a></p> <p><a href="#">Contact</a></p><p><a href="#">{{current_user.name|escape}}</a></p></div>
			<div id="logo">Status<strong>Soap</strong></div>
		</div>
		
		<div class="scrollbar" id="style-1">
     		<div class="force-overflow">
			<div class="post">
				<a href="#" class="button">Edit Status</a>
				<p><strong>This is a status that I wrote a long time ago...</strong></p>
				<p>Posted on: April 3rd, 2000</br>
				Flagged for: Inappropriate Content</p>
				
				<hr>
				<a class="button" href="#">Edit Status</a>
				<p><strong>This is a status that I wrote a long time ago...</strong></p>
				<p>Posted on: April 3rd, 2000<br>
				Flagged for: Inappropriate Content</p>
		
				<hr>
				<a class="button" href="#">Edit Status</a>
				<p><strong>This is a status that I wrote a long time ago...</strong></p>
				<p>Posted on: April 3rd, 2000<br>
				Flagged for: Inappropriate Content</p>
				<hr>
				
				<a class="button" href="#">Edit Status</a>
				<p><strong>This is a status that I wrote a long time ago...</strong></p>
				<p>Posted on: April 3rd, 2000<br>
				Flagged for: Inappropriate Content</p>
				<hr>
				
				<a class="button" href="#">Edit Status</a>
				<p><strong>This is a status that I wrote a long time ago...</strong></p>
				<p>Posted on: April 3rd, 2000<br>
				Flagged for: Inappropriate Content</p>
				<hr>
				
				<a class="button" href="#">Edit Status</a>
				<p><strong>This is a status that I wrote a long time ago...</strong></p>
				<p>Posted on: April 3rd, 2000<br>
				Flagged for: Inappropriate Content</p>
				<hr>
			</div>
			</div>
			
		</div>
		
		<div id="search-bar">
			<p><h2>Search Your Statuses for:</h2></p>
			<div class="checkbox">  
    			<input id="checkWords" type="checkbox" name="check" value="check1">  
   				<label for="checkWords">Inappropriate Language</label>  
    			<br>  
    			<input id="checkContent" type="checkbox" name="check" value="check2">  
   				 <label for="checkContent">Inappropriate Content</label>  
   				 </br></br>
   				 <input class="search" type="search" placeholder="Keywords">
   				 </br></br>
   				<input class="button" id="submitSearch" type="submit" value="Search">
				
			</div>  
		</div>
			
			<div id="clear-footer"></div>
	</div>
		
	</div>
	<div id="footer"></div>
	
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			window.fbAsyncInit = function() {
				FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
				xfbml: true});
				FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
					{% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
				});
			};
			(function() {
				var e = document.createElement('script');
				e.type = 'text/javascript';
				e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}());
		</script>
</body>
</html>