<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/home2.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Sansita+One' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id="page">
	<div id="content">
		<div id="header">
		<div id="nav">
			<a href="#"><p id="current">Home</p></a>
			<p><a href="#">About</a></p>
			<p><a href="#">Contact</a></p>
		</div>
			<div id="logo">Status<strong>Soap</strong></div>
		</div>
		
		<div id="login-box">
			<div id="login-ui">
                	<h1>Login with Facebook</h1>
               		<p>
                    Sign in to begin searching all of your old statuses and posts
                    for bad language and inappropriate content
                	</p>
            	<hr>
            	<div id="fb-button"><fb:login-button scope="user_status"></fb:login-button>
				<div id="fb-root"></div></div>
				<script src="http://connect.facebook.net/en_US/all.js"></script>
				<script>
      				window.fbAsyncInit = function() {
       					FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                	 	xfbml: true});
        				FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
          					{% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
        				});
      				};
      				(function() {
        				var e = document.createElement('script');
        				e.type = 'text/javascript';
        				e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        				e.async = true;
       					document.getElementById('fb-root').appendChild(e);
      				}());
    			</script>
            </div>
        </div>
		
			<div id="text-banner"><h2>Clean up your Facebook statuses<br> and posts when...</br>
				<div id="smaller-banner">you're trying to <em>get a job</em></br></br>
					you're applying to <em>Graduate School</em></br></br>
					you're <em>friends with your mom</em> on Facebook</br>
					
				</div>
				</h2></div>

			
			<div id="clear-footer"></div>
	</div>
		
	</div>
	<div id="footer"></div>
</body>
</html>