<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/home.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700|Sansita+One' rel='stylesheet' type='text/css'>
</head>
<body>


	<div id="page">
	<div id="content">
		<div id="header">
		<div id="nav"><a href="/"><p id="current">Home</p></a> <p><a href="/about">About</a></p><p><a href="/contact">Feedback!</a></p><p>{{current_user.name|escape}}</p><p><a href="/logout">Logout</a></p></div>
			<div id="logo">Status<strong>Soap</strong></div>
		</div>
		
		<div class="scrollbar" id="style-1">
     		<div class="force-overflow">
     		{% for m in messages%}
     		{% if m['message'] %}
			<div class="post">
				<a href="http://www.facebook.com/{{current_user.id}}/posts/{{m['status_id']}}" target="_blank" class="button">Edit Status</a>
				<p><strong>{{m['message']}}</strong></p>
				<p>Posted on: {{m['time']}}</br>
				{% if m['flag'] %}Flagged for: {% if m['flag'] is odd%}Inappropriate Language {% endif %}{% if m['flag'] is even%}Inappropriate Content {% endif %}{% endif %}</p>
			</div>
			<hr>
			{% endif %}
			{% endfor %}
			
			</div>
			
		</div>
		
		<div id="search-bar">
			<p><h2>Search Your Statuses for:</h2></p>
			<div class="checkbox">  
			<form method="post">
    			<input id="checkWords" type="checkbox" name="badwords" value="check1">  
   				<label for="checkWords">Inappropriate Language</label>  
    			<br>  
    			<input id="checkContent" type="checkbox" name="badcontent" value="check2">  
   				 <label for="checkContent">Inappropriate Content</label>  
   				 </br></br>
   				 <input name="keyword" class="search" type="search" placeholder="Keywords">
   				 </br></br>
   				<input class="button" id="submitSearch" type="submit" value="Search">
				
				</form>
			</div>  
		</div>
			
			<div id="clear-footer"></div>
	</div>
		
	</div>
	<div id="footer"></div>
	
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			window.fbAsyncInit = function() {
				FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
				xfbml: true});
				FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
					{% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
				});
			};
			(function() {
				var e = document.createElement('script');
				e.type = 'text/javascript';
				e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
				e.async = true;
				document.getElementById('fb-root').appendChild(e);
			}());
		</script>
</body>
</html>